/* body */

.page {
  min-height: 100vh;
  background-image: url(../images/images1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  position: relative;
  margin: auto;
  padding: 100px;
  width: 1024px;
  font-family: Pathway Gothic One;
  font-size: 28px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #fff;
}

/* nav */

.menu {
  list-style: none;
}
ul {
  list-style: none;
}
.menu-item {
  position: relative;
  display: inline-block;
}
.submenu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  font-size: 20px;
}
.menu-item:hover > .submenu {
  display: block;
  background-color: #fff;
}
.menu-item:hover {
  color: #000;
}
li.menu-item {
  margin-right: 60px;
}
.menu-item:last-child {
  margin-right: 0px;
}
.menu-item:nth-child(3) {
  margin-right: 200px;
}

/* logo */

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1.logo {
  display: inline-block;
  color: #000;
  font-family: Dorsa;
  font-size: 59px;
  text-transform: uppercase;
  padding-top: 40px;
  vertical-align: middle;
  text-align: center;
}

/* gallery */

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;       
  margin: auto;
  background-color: #fff;
  padding: 50px;
}
.content h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 32px;
}
.enlarge{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #000;
}
enlarge:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "0";
  color: #fff;
}
img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.enlarge:hover > img{
  opacity: 0.5;
  cursor: zoom-in;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 950px;
}
.gallery li {
  flex: 0 0 30%;
}

/* footer */

.navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1024px;
  margin: auto;
  background-color: #fff;
  padding: 50px;
  background-color: rgb(48, 69, 91);
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  width: 200px;
  font-family: Pathway Gothic One;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.box a {
  display: inline-block;
  padding: 10px;
}
.box a:hover {
  transform: scale(1.5);
}
.box h3 {
  text-transform: none;
  font-size: 12px;
  padding: 5px;
}

/* social link */

.social-link{
  display: flex;
}
.social-link a{
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
}
.social-link a:last-child{
  margin-right: 0;
}
.link-twitter{
  background-image: url('https://png.icons8.com/ios/2x/twitter.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.link-facebook{
  background-image: url('https://image.flaticon.com/icons/png/128/160/160154.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.link-google{
  background-image: url('https://image.flaticon.com/icons/svg/134/134033.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.mast-foot{
display: flex;
justify-content:center;
align-items: center;
height: 100px;
}