 .form{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #878782;
    padding: 10px;
    text-align: center;
} 

.root{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex: wrap;
    padding: 10px;
    text-align: center;
}

.laptops-cart{
    flex: 0 0 30%;
    display: inline-block;
    border: 2px solid #878782;
}
