ul,
li {
  list-style: none;
}

body {
  width:1350px; 
  margin: auto;
}

fullview img{
width: 100%;
height: auto;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 2%;
  border: solid 2ps #808080;
}

